<header>

    <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-brand not-selectable">Multi-Lingual Demo</span>

        <ul class="navbar-nav mr-auto d-flex flex-row">
          <li class="nav-item mx-3" [class.active]="selectedPage === 'page1'">
            <a class="nav-link not-selectable" routerLink="page1">Page 1</a>
          </li>

          <li class="nav-item mr-3" [class.active]="selectedPage === 'page2'">
              <a class="nav-link not-selectable" routerLink="page2">Page 2</a>
          </li>
          <li class="nav-item" [class.active]="selectedPage === 'page3'">
            <a class="nav-link not-selectable" routerLink="page3">Page 3</a>
          </li>
        </ul>

        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle not-selectable">
            {{ selectedLanguage.displayName }}
            <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
            <li *ngFor="let language of availableLanguages"
                class="listItem not-selectable"
                role="menuitem"
                (click)="onItemClick(language)">
                {{language.displayName}}
              </li>
          </ul>
         </div>

    </nav>
  </header>
