.not-selectable {
  user-select: none;
}

.dropdown-menu {
  min-width: 3rem;
}

.listItem {
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  &:hover {
    background: rgb(0, 123, 255);
    color: white;
  }
}
