<header>

    <nav class="navbar navbar-dark fixed-top bg-dark">
      <span class="navbar-brand not-selectable">Multi-Lingual Demo</span>

        <ul class="navbar-nav mr-auto d-flex flex-row">
          <li class="nav-item active mx-3">
            <a class="nav-link not-selectable" routerLink="welcome">
              Home
            </a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link not-selectable" routerLink="page1">Page 1</a>
          </li>
          <li class="nav-item">
              <a class="nav-link not-selectable" routerLink="page2">Page 2</a>
          </li>
        </ul>

        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle not-selectable">
            {{ selectedLanguage.displayName }}
            <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
            <li *ngFor="let language of availableLanguages"
                class="listItem not-selectable"
                role="menuitem"
                (click)="onItemClick(language)">
                {{language.displayName}}
              </li>
          </ul>
         </div>

    </nav>
  </header>

  <footer class="footer">
    <div class="container">
      <span style="color: white;">Some crazy footer info ...</span>
    </div>
  </footer>

