<div class="main-page-content">

  <button (click)="onClick()">Load random numbers from backend</button>

  <table>
    <tbody>
      <tr>
        <td>
          First Number:
        </td>
        <td class="money-column text-right">
          {{firstNumber | roundingPipe}}
        </td>
      </tr>
      <tr>
        <td>
          Second Number:
        </td>
        <td class="money-column text-right">
          {{secondNumber | roundingPipe}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
