<header>
   
    <nav class="navbar navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Fixed navbar</a>          
     
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>

        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
            {{ selectedLanguage.displayName }} 
            <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li *ngFor="let language of availableLanguages" role="menuitem" (click)="onItemClick(language)">{{language.displayName}}</li>                       
          </ul>
         </div>
                       
    </nav> 
  </header>

  <footer class="footer">
    <div class="container">
      <span style="color: white;">Place sticky footer content here.</span>
    </div>
  </footer>

  